.palette-container {
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    color: var(--white-color);
}

.color {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    white-space: nowrap;
    font-weight: bold;
}

.palette-container>.color:nth-child(1) {
    background: var(--primary);
}

.palette-container>.color:nth-child(2) {
    background: var(--secondary);
}

.palette-container>.color:nth-child(3) {
    background: var(--success);
}

.palette-container>.color:nth-child(4) {
    background: var(--info);
}

.palette-container>.color:nth-child(5) {
    background: var(--warning);
}

.palette-container>.color:nth-child(6) {
    background: var(--danger);
}

.palette-container>.color:nth-child(7) {
    background: var(--light-gray);
    color: var(--dark-black);
}

.palette-container>.color:nth-child(8) {
    background: var(--dark-gray);
}

.color-utils-class {
    font-size: 1rem;
    color: var(--secondary);
    background: var(--theme-bg);
    font-weight: 700;
    width: 10rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    .palette-container {
        height: auto;
    }
}