@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bungee+Shade&display=swap');

.grid-layout > nav{
    background-color: var(--navbar-bg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem 0 0.5rem;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 1px 1px 11px var(--shadow);
    grid-area: nav;
    height: 5rem;
    align-items: center;
    width: 100%;
}

.nav-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-div{
    display: flex;
    align-items: center;
}

.dazzle {
    font-size: 1.7rem;
    font-family: 'Archivo Black', sans-serif;
    color: var(--primary);
}

.ui{
    color: var(--secondary);
    font-size: 1.8rem;
    font-family: 'Bungee Shade', cursive;
    padding: 0 0 0.1rem 0.2rem;
}

.nav-section  i {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--primary);
}

.anchor{
    text-decoration: none;
    color: var(--primary);
}

.my-hamburger{
    display: none;
}

@media screen and (max-width: 480px) {

    .nav-section a, .nav-section i {
        font-size: 1.2rem;
    }

    .logo-div > img {
        width: 3.5rem
    }

    .dazzle {
        font-size: 1.3rem;
    }

    .ui {
        font-size: 1.37rem;
    }
}

@media screen and (max-width: 380px) {
    .grid-layout > nav{
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
    }
}
